html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

select, input {
	margin-right: 2px !important;
}

strong, em, i, u, span, b, sub, sup, a, label, tt, var {
    font-size: inherit;
}

body{
	background: #34386f url("https://www.eldarya.es/static/img/design/background.jpg") fixed top center;
	background-size: cover;
	overflow-y: scroll;
	transition: background-image 4s linear;
    /*-------------------*/
    font-family: "trebuchet ms", arial, serif;
    font-size: 14px;
    line-height: 1em;
    color: #000;
    min-height: 100%;
}

html, body{
	width:100%;
	position: relative;
	font-family: Rubik, cursive;
}

.glow:hover, #header-menu a:hover, #footer #footer-links a:hover {
    font-weight: bold;
    text-shadow: 1px 0 20px #ffffff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#header{
	height: 140px;
	position: relative;
}

#header-in{
	height:100%;
	width:1010px;
	margin:auto;
	position: relative;
	top: 0;
	left:0;
}

#logo{
	display: block;
	/*left: 70px;*/
	/*top: 12px;*/
	z-index: 2;
	position: absolute;

	top:80px;
	font-size: 20px;
	color: #fff;
}

#header-top{
	position: absolute;
	top: 0;
	background-color: #34386f;
	height: 39px;
	width: 100%;
}

 #header #header-top #header-top-in{
	width: 1010px;
	margin: auto;
	position: relative;
	text-align: center;
	line-height: 39px;
	font-size: 12px;
	color: #fff;
	font-family: Rubik, cursive;
}

ol, ul{
	list-style: none;
}

#header-menu{
	text-align: right;
	padding-right: 150px;
}

#header-menu li{
	display: inline-block;
	margin: 0 10px;
}

#header-menu a{
	color: #fff;
}

body a{
	text-decoration: none;
}

#content{
	padding-bottom: 82px;
	width: 1010px;
	margin: auto;
}

#container {
	position: relative;
	font-family: Rubik, cursive;
}

#container .page-main-container{
	background-color: rgba(73,79,154,0.87);
	border-radius: 8px;
	padding: 20px;
	min-height: 400px;
	position: relative;
	box-shadow: inset 1px 1px 3px 1px #34386f;
}

#container .page-main-container::after{
	content: '';
	border-radius: 8px;
	background-position: 0 0, 100% 0, 0 0, 0 100%;
	background-repeat: no-repeat;
	background-size: 4px 100%, 4px 100%, 100% 4px, 100% 4px;

	background-image: -webkit-linear-gradient(-90deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), -webkit-linear-gradient(-90deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
	background-image: -moz-linear-gradient(-90deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), -moz-linear-gradient(-90deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
	background-image: -o-linear-gradient(-90deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), -o-linear-gradient(-90deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
	background-image: -ms-linear-gradient(-90deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), -ms-linear-gradient(-90deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
	background-image: linear-gradient(180deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), linear-gradient(180deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);

	box-shadow: 1px 2px 3px 0 rgba(47, 62, 113, 0.75);
	position: absolute;
	z-index: -1;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
}

#container .page-main-container.marketplace-main-container{
	overflow: visible;
}

#container .page-main-container{
	background-color: rgba(73, 79, 154, 0.87);
	border-radius: 8px;
	padding-bottom: 20px;
}

#container h1 {
	position: relative;
	background-image: url("https://www.eldarya.es/static/img/design/h1.png");
	height: 45px;
	line-height: 45px;
	display: inline-block;
	color: #fff;
	font-family: Rubik, cursive;
	font-size: 16px;
	text-transform: uppercase;
	padding: 0 15px 0 25px;
	margin-left: -20px;
}

#container h1 .title-end{
	background-image: url("https://www.eldarya.es/static/img/design/h1-end.png");
	position: absolute;
	right: -25px;
	top:0;
	width: 25px;
	height: 45px;
}

/* --------------------------------------------- */

.marketplace-container{
	padding: 0 38px;
}

.marketplace-search-list{
	height: 600px;
	margin: 10px 10px 0;
}

#marketplace-right{
	position: relative;
	float: right;
	width: 340px;
	height: 590px;
	box-shadow: 0 2px 3px rgba(52, 56, 111, 0.5);
	border-radius: 5px;

	background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.7) 100%);
	background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%, rgba(255, 255, 255, 0.8)), color-stop(50%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.7) 100%);
	background: -o-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.7) 100%);
	background: -ms-linear-gradient(bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.7) 100%);

	background: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.7) 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99ffffff', endColorstr='#00ffffff', GradientType=0);
}

#marketplace-avatar-background-preview{
	width: 340px;
	height: 500px;
	background-position: center;
	position: absolute;
	left: 0;
	top: 0;
}

#marketplace-avatar-preview{
	width: 420px;
	height: 594px;
	position: relative;
	left: -40px;
	top: -90px;
	pointer-events: none;
}
/* start------------------------------------ */

canvas {
	position: absolute;
}

#marketplace-itemDetail {
	position: absolute;
	top: 500px;
	right: 0;
	width: 325px;
	height: 80px;
	text-align: center;
}

.marketplace-itemDetail-cont, .marketplace-itemDetail-cont2 {
	margin: 0 0 0 10px;
	width: 140px;
	display: inline-block;
	font-family: Rubik, cursive;
	font-size: 16px;
	color: rgb(552, 56, 111);
	float: left;
	padding-top: 10px;
}
.marketplace-itemDetail-cont2 {	
	width: 90% !important;
}

.button {
	background-color: #2293fb;
	border: 2px solid #2293fb;
	border-radius: 25px;
	font-family: Rubik, cursive;
	font-size: 14px;
	color: #fff;
	padding: 4px 8px;
	cursor: pointer;
	display: inline-block;
	line-height: 100%;

	-webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	-moz-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	-ms-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	-o-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;
	margin: 0 5px;
}

.button:hover {
	background-color: #fff;
	color: #2293fb;
}

/* end------------------------------------ */

.marketplace-abstract{
	width: 427px;
	float: left;
	margin: 10px 10px 0;

	position: relative;
	width: 427px;
	float: left;
	margin: 10px;
	box-shadow: 0 2px 3px rgba(52, 56, 111, 0.5);
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.8);
}

#marketplace-search-items li{
	width: 500px;
	height: 75px;
	margin: 5px;
}

.marketplace-search-item.selected {
	background: #fff;
}

.marketplace-search-item:hover{
	background: #b9f8fa;
}

li.marketplace-search-item, li.marketplace-sales-item, li.marketplace-auctions-item, li.marketplace-itemsForSale-item, li.marketplace-historic-item {
	position: relative;
}



.appearance-item .guard-gem, .marketplace-itemsForSale-item .guard-gem, .marketplace-abstract .guard-gem, .marketplace-main-container .guard-gem, .inventory-item .guard-gem, .treasureHunt-result-item .guard-gem {
    position: absolute !important;
    right: 2px;
    top: 2px;
}

.guard-gem {
    width: 18px;
    height: 18px;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    border-radius: 25px;
}

/* Marcadores de rareza */
.rarity-marker-common, .rarity-marker-rare, .rarity-marker-epic, .rarity-marker-legendary, .rarity-marker-event, .anim-marker {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
}

.marketplace-abstract .guard-gem, .marketplace-main-container .guard-gem {
    right: auto;
    left: 50px;
}

.rarity-marker-common {
    background-image: url("https://www.eldarya.es/static/img/marker_common.png");
}

.rarity-marker-rare {
    background-image: url("https://www.eldarya.es/static/img/marker_rare.png");
}

.rarity-marker-epic {
    background-image: url("https://www.eldarya.es/static/img/marker_epic.png");
}

.rarity-marker-legendary {
    background-image: url("https://www.eldarya.es/static/img/marker_legendary.png");
}

.rarity-marker-event {
    background-image: url("https://www.eldarya.es/static/img/marker_event.png");
}

.guard-gem.guard-1{
	background-image: url("https://www.eldarya.es/static/img/design/guard/marker-guard-1.png");
}

.guard-gem.guard-2{
	background-image: url("https://www.eldarya.es/static/img/design/guard/marker-guard-2.png");
}

.guard-gem.guard-3{
	background-image: url("https://www.eldarya.es/static/img/design/guard/marker-guard-3.png");
}

.guard-gem.guard-4{
	background-image: url("https://www.eldarya.es/static/img/design/guard/marker-guard-4.png");
}

.anim-marker {			/* Premio del mes*/
    width: 20px;
    height: 19px;
    background-image: url("https://www.eldarya.es/static/img/marker_anim.png");
}
/* Fin marcadores de rareza */

.marketplace-abstract .abstract-icon{
	width: 75px;
	height: 75px;
	box-shadow: 0 0 2px black;
	float: left;
}

.marketplace-abstract .abstract-container{
	position: relative;
	float: left;
	width: 425px;
}

.marketplace-abstract .abstract-name{
	font-family: Rubik, cursive;
	font-weight: bold;
	font-size: 18px;
	color: rgb(52,56,111);
	position: relative;
	padding: 5px;
}

.marketplace-abstract .abstract-content{
	position: relative;
	padding: 0 5px;
}

.marketplace-abstract .abstract-type{
	font-family: Rubik, cursive;
	font-weight: bold;
	font-size: 13px;
	color: rgb(52, 56, 111);
}

.abstract-code{
	font-family: Rubik, cursive;
	text-transform: uppercase;
	color: rgb(52, 56, 111);
	text-align: right;
	position: absolute;
	right: 15px;
	top: 5px;
}

.code-info{
	font-size: 12px;
	font-family: Rubik, cursive;
	font-weight: bold;
	color: rgb(52, 56, 111);
}

.universalCode{
	font-size: 20px;
}

.marketplace-abstract .abstract-note{
	font-family: Rubik, cursive;
	font-size: 14px;
	color: rgb(196, 103, 188);
	font-weight: bold;
	position: absolute;
	top: 55px;
	left: 5px;
}

.pagination{
	margin-left: 15px;
}

.page{
	display: inline-block;
	padding: 5px 3px;
	margin-right: 5px;
	border-radius: 3px;
	min-width: 28px;
	font-size: 14px;
	font-family: Rubik, cursive;
	font-weight: bold;
	color:rgb(52,56,111);
	text-align: center;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid rgba(52,56,111,0.5);
}

.page:hover{
	cursor:pointer;
}

.page.selected{
	text-decoration: none;
	background: #A7AAE6;
	cursor:default;
}

.truncation{
	display: inline-block;
	padding: 2px;
	width: 15px;
	font-size: 14px;
	font-family: Rubik, cursive;
	font-weight: bold;
	color:#fff;
	text-align: center;
	text-decoration: none;
	margin-right: 3px;
}

/*-------------------------------------------------------*/
#footer{
	font-family: Rubik, cursive;
	position: absolute;
	height: 42px;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #34386f;
}

#footer #footer-in{
	width: 1010px;
	margin: auto;
	line-height: 42px;
	color: #fff;
	font-size: 12px;
	position: relative;
}

#footer #footer-links{
	position: absolute;
	right: 0;
}

#filter-itemName {
	width: 165px;
}