body > iframe:first-child { display: none !important; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

select, input {
	margin-right: 2px !important;
}

strong, em, i, u, span, b, sub, sup, a, label, tt, var {
    font-size: inherit;
}

body{
	background: #34386f url("https://www.eldarya.es/static/img/design/background.jpg") fixed top center;
	background-size: cover;
	overflow-y: scroll;
	transition: background-image 4s linear;
    /*-------------------*/
    font-family: "trebuchet ms", arial, serif;
    font-size: 14px;
    line-height: 1em;
    color: #000;
    min-height: 100%;
}

html, body{
	width:100%;
	position: relative;
	font-family: Rubik, cursive;
}

.glow:hover, #header-menu a:hover, #footer #footer-links a:hover {
    font-weight: bold;
    text-shadow: 1px 0 20px #ffffff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

#header{
	height: 140px;
	position: relative;
}

#header-in{
	height:100%;
	width:1010px;
	margin:auto;
	position: relative;
	top: 0;
	left:0;
}

#logo{
	display: block;
	/*left: 70px;*/
	/*top: 12px;*/
	z-index: 2;
	position: absolute;

	top:80px;
	font-size: 20px;
	color: #fff;
}

#header-top{
	position: absolute;
	top: 0;
	background-color: #34386f;
	height: 39px;
	width: 100%;
}

 #header #header-top #header-top-in{
	width: 1010px;
	margin: auto;
	position: relative;
	text-align: center;
	line-height: 39px;
	font-size: 12px;
	color: #fff;
	font-family: Rubik, cursive;
}

ol, ul{
	list-style: none;
}

#header-menu{
	text-align: right;
	padding-right: 150px;
}

#header-menu li{
	display: inline-block;
	margin: 0 10px;
}

#header-menu a{
	color: #fff;
}

body a{
	text-decoration: none;
}

#content{
	padding-bottom: 82px;
	width: 1010px;
	margin: auto;
}

#container {
	position: relative;
	font-family: Rubik, cursive;
}

#container .page-main-container{
	background-color: rgba(73,79,154,0.87);
	border-radius: 8px;
	padding: 20px;
	min-height: 400px;
	position: relative;
	box-shadow: inset 1px 1px 3px 1px #34386f;
}

#container .page-main-container::after{
	content: '';
	border-radius: 8px;
	background-position: 0 0, 100% 0, 0 0, 0 100%;
	background-repeat: no-repeat;
	background-size: 4px 100%, 4px 100%, 100% 4px, 100% 4px;

	background-image: -webkit-linear-gradient(-90deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), -webkit-linear-gradient(-90deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
	background-image: -moz-linear-gradient(-90deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), -moz-linear-gradient(-90deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
	background-image: -o-linear-gradient(-90deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), -o-linear-gradient(-90deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
	background-image: -ms-linear-gradient(-90deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), -ms-linear-gradient(-90deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);
	background-image: linear-gradient(180deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), linear-gradient(180deg, #fff 4%, #d2d5f9 14%, #3f49d0 74%, #c4c7f7 90%, #fff 97%), linear-gradient(#fff, #fff), linear-gradient(#fff, #fff);

	box-shadow: 1px 2px 3px 0 rgba(47, 62, 113, 0.75);
	position: absolute;
	z-index: -1;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
}

#container .page-main-container.marketplace-main-container{
	overflow: visible;
}

#container h1 {
	position: relative;
	background-image: url("https://www.eldarya.es/static/img/design/h1.png");
	height: 45px;
	line-height: 45px;
	display: inline-block;
	color: #fff;
	font-family: Rubik, cursive;
	font-size: 16px;
	text-transform: uppercase;
	padding: 0 15px 0 25px;
	margin-left: -20px;
}

#container h1 .title-end{
	background-image: url("https://www.eldarya.es/static/img/design/h1-end.png");
	position: absolute;
	right: -25px;
	top:0;
	width: 25px;
	height: 45px;
}

/*-------------------------------------------------------*/
#footer{
	font-family: Rubik, cursive;
	position: absolute;
	height: 42px;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #34386f;
}

#footer #footer-in{
	width: 1010px;
	margin: auto;
	line-height: 42px;
	color: #fff;
	font-size: 12px;
	position: relative;
}

#footer #footer-links{
	position: absolute;
	right: 0;
}

/*--------------------------------------------------------*/
.menu-tracking {
	text-align: center;
	margin-top: -23px;
	margin-bottom: 20px;
}

.menu-tracking li {
	position: relative;
	display: inline-block;
	height: 30px;
	box-sizing: border-box;
	box-shadow: 2px 1px 4px rgba(10, 13, 60, 0.6);
	font-size: 14px;
	font-weight: bold;
	margin: 0 15px;
	z-index: 1;
}

.menu-tracking li div {
	height: 30px;
	box-sizing: border-box;
	display: block;
	padding: 7px 18px;
	color: #fff;
	text-decoration: none;
	background-color: #2092fb;
	border-top: 2px solid #baf0fc;
	border-bottom: 2px solid #baf0fc;
}

.menu-tracking li div::before {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 30px;
    box-sizing: border-box;
    top: 0;
    left: -6px;
    z-index: -1;
    background-color: #2092fb;
    border-left: 2px solid #baf0fc;
    border-top: 2px solid #baf0fc;
    border-bottom: 2px solid #baf0fc;
    box-shadow: 2px 1px 4px rgba(38, 45, 131, 0.6);
    transform: skew(-15deg, 0deg);
}

.menu-tracking li div::after {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 30px;
    box-sizing: border-box;
    top: 0;
    right: -6px;
    z-index: -1;
    background-color: #2092fb;
    border-right: 2px solid #baf0fc;
    border-top: 2px solid #baf0fc;
    border-bottom: 2px solid #baf0fc;
    box-shadow: 2px 1px 1px rgba(50, 50, 100, 0.7);
    transform: skew(-15deg, 0deg);
}

.menu-tracking li:hover, .menu-tracking li.current {
    box-shadow: none;
}

.menu-tracking li div:hover, .menu-tracking li.current div {
    color: #2092fb;
    background-color: #fff;
    border-top: 2px solid #2092fb;
    border-bottom: 2px solid #2092fb;
    cursor: pointer;
}

.menu-tracking li div:hover::before, .menu-tracking li.current div::before {
    box-shadow: none;
    background-color: #fff;
    border-left: 2px solid #2092fb;
    border-top: 2px solid #2092fb;
    border-bottom: 2px solid #2092fb;
    cursor: pointer;
}

.menu-tracking li div:hover::after, .menu-tracking li.current div::after {
    box-shadow: none;
    background-color: #fff;
    border-right: 2px solid #2092fb;
    border-top: 2px solid #2092fb;
    border-bottom: 2px solid #2092fb;
    cursor: pointer;
}

h1.itemInfo {
    background: none !important;
    width: 100% !important;
    padding: 0 !important;
    margin-bottom: -16px;
    margin-left: 0 !important;
}


h1.itemInfo .diamond {
    bottom: -5px;
    left: 30px;
    background-image: url("https://www.eldarya.es/static/img/library/diamond.png");
    background-size: cover;
    display: block;
    height: 60px;
    width: 46px;
    text-align: center;
    line-height: 55px;
    font-family: Merriweather, serif;
    font-weight: bold;
    font-size: 22px;
    text-shadow: 0 0 12px rgba(8, 9, 9, 0.75);
}

h1.itemInfo .itemName {
    left: 78px;
    text-transform: none;
    font-size: 23px;
    text-shadow: 0 2px 12px rgba(8, 9, 9, 0.75);
    font-family: Merriweather, serif;
    font-weight: bold;
    bottom: 5px;
}

h1.itemInfo span {
    position: absolute;
    bottom: 0;
}

h1.itemInfo .countItemsOuter {
    right: 40px;
    bottom: -2px;
    background-image: linear-gradient(0deg, #00ffff, #fff 66%);
    display: block;
    height: 48px;
    width: 48px;
    text-align: center;
    border-radius: 50%;
}

h1.itemInfo .countItemsOuter .countItems {
    display: block;
    height: 46px;
    width: 46px;
    margin: 1px;
    line-height: 47px;
    color: #fff;
    background-color: #0c2280;
    border-radius: 50%;
    font-family: Rubik, sans-serif;
    font-weight: normal;
    font-size: 13px;
}


.itemList {
    background-color: rgba(49, 59, 118, 0.71);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 872px;
    margin: auto auto 26px;
    font-size: 0;
    line-height: 0;
    padding: 10px 16px;
    box-sizing: border-box;
    min-height: 124px;
}

.itemList li {
    display: inline-block;
    margin: 5px 5px;
    width: 90px;
    height: 90px;
    border: 2px solid #97c6fb;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.itemIcon {
    width: 90px;
    height: 90px;
    transition: transform 300ms ease-in-out;
}

.itemList li:hover {
    border-color: #acfbee;
    transition: border-color 300ms ease-in-out;
}

.itemList li:hover .itemIcon {
    transform: scale(1.1);
}